<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Donation Record</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h2 class="mt-4">Donor Record</h2>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Donor Name</th>
                <th>Donor ID</th>
                <th>Donor Address</th>
                <th>Donation Date</th>
                <th>Blood Group</th>
            </tr>
        </thead>
        <tbody>
            {% for donor in all_donors %}
            <tr>
                <td>{{ donor.name }}</td>
                <td>{{ donor.donor_id }}</td>
                <td>{{ donor.address }}</td>
                <td>{{ donor.date_created }}</td>
                <td>{{ donor.blood_group }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
